- require "roman"
- content_for :head do
  = stylesheet_link_tag("media")
  = javascript_tag("jquery.tools.min")

%h1= "Canto #{@page_nbr.roman}"
%p= canto_audio(@book, @page_nbr)
  
%table.poem
  - @english_stanzas.each_with_index do |stanza_node, i|
    %tr
      %td.line_nbr.unselectable= (i * 3) + 1
      
      %td.stanza
        - Canto.get_lines(stanza_node).each do |line_node|
          %p= line_node.inner_text.html_safe
          
      %td.stanza.unselectable
        - Canto.get_lines(@italian_stanzas[i]).children.each do |line_node|
          %p= line_node.inner_text.html_safe
          
      %td.margin.unselectable