- require "roman"
- audio_path = asset_path("commedia/original/#{@book}/#{@book}_canto#{'%02d' % @page_nbr}.mp3")
- content_for :head do
  = stylesheet_link_tag("media")
  

%h1="#{@book_name}, Canto #{@page_nbr.roman}"
#audio_flowplayer

  
%table.poem
  - @english_stanzas.each_with_index do |stanza_node, i|
    %tr
      %td.line_nbr.unselectable= (i * 3) + 1
      
      %td.stanza
        - Canto.get_lines(stanza_node).each do |line_node|
          %p= line_node.inner_text.html_safe
          
      %td.stanza.unselectable
        - Canto.get_lines(@italian_stanzas[i]).children.each do |line_node|
          %p= line_node.inner_text.html_safe
          
      %td.margin.unselectable


:javascript
  $f("audio_flowplayer", {
    src: "#{asset_path('flowplayer-3.2.10.swf')}",
    wmode: "transparent"
    }, {
    // fullscreen button not needed here
    plugins: {
        controls: {
          backgroundColor:'transparent',
          backgroundGradient:'none',
          fullscreen: false,
          height: 24,
          autoHide: false
        }
    },

    clip: {
        url: "#{audio_path}",
        autoPlay: false
    }
  });