%p#notice= notice

.center
  %h1= @image.title
  - begin
    = image_tag(asset_path(@image.path(:large)), :class => :framed)
  - rescue
    = image_tag(asset_path(@image.path()), :class => :framed)
  %p.center
    / = link_to 'Edit', edit_image_path(@image)
    / \|
    = link_to 'Back', source_path(@image.source_id)
