!!! 5
- Proust::Application.config.ui.build(self, :header, :page_header, :navigation, :page_footer)

%html
  %head
    %title Proust
    = stylesheet_link_tag("application")
    = javascript_include_tag("application")
    = javascript_include_tag("menu")
    %link{ :href => 'http://fonts.googleapis.com/css?family=Muli', :rel => 'stylesheet', :type => 'text/css' }
    = csrf_meta_tags
    = yield :head

%body
  = yield :header
  %section#page
    = yield :page_header
    = yield :navigation unless controller.is_a? HomeController
    #page_container
      = render :partial => "application/messages"
      %article#page_contents
        = yield
      = yield :page_footer
      #page_bottom= link_to html_space(7), null_js, :class => "resizer"