!!! 5
- Proust::Application.config.ui.build(self, :header, :page_header, :navigation, :page_footer)

%html
  %head
    %title Proust
    / styles
    = stylesheet_link_tag("application")
    / scripts
    = javascript_include_tag("application")
    / other
    = csrf_meta_tags
    = yield :head

%body
  = yield :header
  %section#page
    = yield :page_header
    = yield :messages
    = yield :navigation
    %article#page_contents
      = yield
    = yield :page_footer