!!! 5
- MyDante::Application.config.ui.build(self, :page_header, :navigation, :page_footer)

%html
  %head
    %title MyDante
    = stylesheet_link_tag("application")
    = stylesheet_link_tag("https://fonts.googleapis.com/css?family=Jim+Nightshade")
    = javascript_include_tag("application")
    = javascript_include_tag("jquery-1.6.2.min")
    = javascript_include_tag("jquery.tools.min")
    = javascript_include_tag("flowplayer-3.2.9.min")
    = javascript_include_tag("menu")
    = csrf_meta_tags
    = yield :head

%body
  %section#powered_by_cndls
    = link_to "powered by CNDLS", "http://cndls.georgetown.edu", :class => "hover_only"
  %section#page
    = yield :page_header
    = yield :navigation
    #page_container
      %article#page_contents
        = render :partial => "application/messages"
        = yield
      = yield :page_footer
      #page_bottom