!!! 5
- Proust::Application.config.ui.build(self, :header)

%html
  %head
    %title Proust
    / styles
    = stylesheet_link_tag("application")
    / scripts
    = javascript_include_tag("application")
    / other
    = csrf_meta_tags
    = yield :head

%body
  = yield :header
  #page= yield